<public-navbar></public-navbar>
<div class= "bg">
    <div class = "col-sm-6 offset-sm-3 search" >
        <div class="form-outline">
            <div class="heading">
                <h1 class="text">myFood</h1>
            </div>
            <input style = "height:3.5rem ;text-align: center;" type="search" id="form1" class="form-control" placeholder="Search for cusine or a dish" aria-label="Search" />
        </div>
    </div>
</div>
<div class="app-image ">
    <div class="container">
        <div class="col-sm-4 app-align ">
            <div class="fs-1">
                <p><b>Resturant in your Pocket</b></p>
            </div>
            <div class="fs-5 text-secondary">
                Order from your favorite restaurants & track on the go, with the all-new myFood app.
                
            </div>
            <div class= "logo">
                <a href="#"><img    src="/assets/images/playstore-logo.png"></a>
                <a href="#"><img src="/assets/images/app-store.png"></a>
            </div>
            
        </div>
    </div>
</div>

